.label-login{
    position: relative;
}
.label-login>input{
    border: 0;
    background: rgb(217, 217, 217);
    display: block;
    width: 100%;
    padding: 20px 0;
}
.label-login>input::placeholder {
    color: rgb(68, 178, 111);
    padding-left: 20px;
}