.form-login{
    background: rgb(245, 245, 245);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 110px;
}
.form-login .row{
    width: 100%;
    overflow: hidden;
}
.form-login .label-login{
    display: block;
}
.form-login .row label svg {
    color: rgb(68, 178, 111);
    width: 40px;
    height: 30px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}