.products {
    background: rgb(245, 245, 245);
    height: 100vh;
    background: #44B26F;
}

.products>.row>svg {
    padding: 20px 0 0 30px;
}
.products .wrapper {
    padding: 0 70px;
    margin-top: 30px;
}
 .products .wrapper .button-login {
    background: rgb(209, 209, 209);
    color: #05BC52;
    width: 180px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.products .wrapper .button-login svg {
    color: black;
}
.products .title{
    margin-top: 5px;
}